{% extends "user_layout.html" %}

{% block y %}
{% if session.name %}
<style>
  input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .divback {
    border-radius: 10px;
    background-color: #f5f6f8;
    padding: 20px;
    margin: 10px;
    position: relative;
    height:auto;
  }

  


 
  
  </style>

    <!-- <div class="row"> -->
      <div>
        {% if messages %}
        <div align="center" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ messages }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="window.location.href='/detailed-transactions'"></button>
        </div>
        {% endif %}
      <div class="divback">
       <form action="{{ url_for('transactions.details_trans') }}" method="post" >
          <h3>Detailed Statment upto 6 months</h3>
          <select name="months">
            <option >Select Month:</option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
          </select>
          <br>
          <br>
          <input type="submit" formaction="/api/v1/detailed-transactions" value="Download" onclick="openPopup()">
        </form>
      </div> 
      </div> 
      
<!-- partial -->
  <script  src="/static/script.js"></script>

 <!-- Welcome to Citibank {{ session.name }} <a href="/logout">logout</a>. -->
 <script>
 


</script>
{% else %}
<meta http-equiv="refresh" content="2 ; url =/login" /> 
	You are not Register. <a href="/login">login</a>.
{% endif %}
{% endblock %}